* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  //   border: red 2px solid;
}
html,
body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}
p {
  font-family: "Lora", serif;
  font-style: italic;
  display: flex;
}

h2 {
  font-family: "Roboto", sans-serif;
  color: $sitePink;
  text-transform: capitalize;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}
.sticky:last-of-type {
  position: sticky;
  margin-top: 100px;
}
#content-wrap {
  min-height: 60%;
}
.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

#border {
  margin: auto;
  max-width: $siteWidth;
}
#content-wrap {
  min-height: 100vh; /* will cover the 100% of viewport */

  position: relative;
  padding-bottom: 65px; /* height of your footer */
}
