.product:last-of-type {
  margin-bottom: 65px;
}
// }
.productsContent {
  //   padding-top: 500px;
  padding-top: 450px;
  margin-bottom: 50px;
  min-height: 100%;

  .product {
    width: 70%;
    margin-top: 25px;
    margin: 25px auto;
    display: flex;
    justify-content: space-between;
    &-pic {
      height: 200px;
      width: 200px;
      &.product1 {
        @include headShot("../images/butter-almond-soap.jpg");
      }
      &.product2 {
        @include headShot("../images/rose-gold-soap.jpg");
      }
      &.product3 {
        @include headShot("../images/luxury-soap.jpg");
      }
    }
    &-intro {
      width: 65%;
    }
  }
  .product:last-of-type {
    margin-bottom: 165px;
  }
}
