.homeContent {
  margin-bottom: 50px;
  height: 100%;
  //   margin: 100 auto;
  padding: 0px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  p {
    width: 400px;
  }
}
