footer {
  //fixed position
  position: absolute;
  bottom: 0;
  width: 100%;

  //   margin-top: -65px;
  // position: relative;
  // margin-top: 65px;
  // top: -35px;
  // margin-top: 35px;
  height: 10%;
  // position: relative;
  // clear: both;
  // bottom: 0;
  width: 100%;
  display: flex;
  font-family: "Roboto", sans-serif;
  background-color: $siteOffWhite;
  .ftBorder {
    // padding: 0px 50px;
    margin: auto;
    // align-items: center;
    display: flex;
    justify-content: space-between;
    width: $siteWidth;
  }
}
