.aboutContent {
  //   padding-top: 500px;
  padding-top: 450px;
  margin-bottom: 50px;
  min-height: 100%;

  .person {
    width: 70%;
    margin: 25px auto;
    display: flex;
    justify-content: space-between;
    &-pic {
      height: 200px;
      width: 200px;
      &.person1 {
        @include headShot("../images/owner.jpg");
      }
      &.person2 {
        @include headShot("../images/co-owner.png");
      }
    }
    &-intro {
      width: 65%;
    }
  }
  .person:last-of-type {
    margin-top: 25px;
    margin-bottom: 115px;
  }
}
