.aboutContent {
  margin-bottom: 50px;
  height: 100%;

  .person {
    width: 800px;
    margin: 10px auto 30px auto;
    display: flex;
    justify-content: space-between;
    &-pic {
      height: 200px;
      width: 200px;
      &.person1 {
        @include headShot("../images/owner.jpg");
      }
      &.person2 {
        @include headShot("../images/co-owner.png");
      }
    }
    &-intro {
      width: 65%;
    }
  }
}
